@model FinalProject.Models.QuestionViewModels.CourseAndQuestions
@{
    ViewData["Title"] = "Ask a Question";
    var questions=Model.QuestionList;
}

<div class="card">
    <div class ="card-header">
        <h5>Question List</h5>
    </div>
    <div class="card-body">
        @foreach (FinalProject.Models.QuestionViewModels.QuestionModel item in questions){
        <div class="card">
            <div class ="card-header">
                <h5>
                    @Html.DisplayFor(modelItem => item.Title)
                    
                    @Html.ActionLink("Enter","QuestionPage", new {
                        QId=@item.QId,
                        Title=@item.Title,
                        Description=@item.Description,
                        CourseId=@item.CourseId,
                        UserName=@item.UserName,
                        Time=@item.Time.ToString().Replace('/', '~').Replace(' ', '-')
                    
                    },new { @class="btn btn-primary btn-sm float-right enterqn", @style="display:inline;"   })
                    <h6 class="card-subtitle mb-2 text-muted">
                        Author : @Html.DisplayFor(modelItem => item.UserName) <br>
                        Asked : @item.Time.ToString("yyyy-MM-dd_HH:mm")
                    </h6>
                </h5>
            </div>
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
        </div>
        <br>
        }
    </div>
</div>


<br>

<div class="card">
    <div class ="card-header">
        <h5>@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-8">
                <fieldset class="form-group">
                    <form action='@Url.Action("AskQuestion", "Question")' method='post'>
                        <input hidden name="CourseId" id="CourseId" value="@Model.CourseId"  >
                        <div class="form-group">
                            <label asp-for="Title" class="form-control-label">Title</label>
                            <input asp-for="Title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="form-control-label">Description</label>
                            <textarea asp-for="Description" class="form-control" aria-label="With textarea" rows="3"></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" id="askb" >Post new Question</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>

