@model FinalProject.Models.QuestionViewModels.FileReply
@{
    ViewData["Title"] = "Reply Message";
}


<div class="container">
    <fieldset class="form-group">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data" id="postform">
            
            <div class="form-group">
                <label asp-for="Reply" class="form-control-label">Message</label>
                <textarea asp-for="Reply" class="form-control" rows="6"></textarea>
            </div>
            <div>
                <label for="file">Upload File:</label>  
                <input type="file" name="File" id="File"/><br><br>  
            
      
            </div>
            <input hidden name="RefAId" id="RefAId" value="@Model.RefAId">
            <input hidden name="QId" id="QId" value="@Model.QId">
            <button type="submit" class="btn btn-primary float-right" id="repb">Reply</button>
        </form>
    </div>
</div>
<h3>@ViewData["Message"]</h3>