@using System.Collections.Generic;
@model List<FinalProject.Models.CourseViewModels.CourseModel>
@inject SignInManager<ApplicationUser> SignInManager

<div class="container">
    <h2>Course List</h2>

<br>
@foreach (var item in Model){
    <div class="card">
        <div class ="card-header">
            
            <h5>
               
            <a style="text-transform: uppercase"> @Html.DisplayFor(modelItem => item.Department)</a><a> @Html.DisplayFor(modelItem => item.CourseNumber) @Html.DisplayFor(modelItem => item.Session) (@Html.DisplayFor(modelItem => item.Semester))</a>
                
                @Html.ActionLink("Enroll","Enroll", new { CourseId = item.CourseId },new { @class="btn btn-primary btn-sm float-right", @style="display:inline;"   })
                <h6 class="card-subtitle mb-2 text-muted">Instructor : @Html.DisplayFor(modelItem => item.Instructor)</h6>
            </h5>
        </div>
        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
        </div>
    </div>
    <br>
}
</div>
    @*
<div class="container bg-light">
    
    <table border="3">
        <tr>
            <td width="80px" height="50px">Year</td>
            <td width="80px" height="50px">Semester</td>
            <td width="80px" height="50px">Department</td>
            <td width="80px" height="50px">CourseNumber</td>
            <td width="80px" height="50px">Session</td>
            <td width="80px" height="50px">Instructor</td>
            <td width="80px" height="50px">Description</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </table>

</div>

    *@