@using System.Collections.Generic;
@model FinalProject.Models.CourseViewModels.CourseModel
@inject SignInManager<ApplicationUser> SignInManager

<div class="container">
<h2>Course Page </h2>
</div>
<br>
<div class="container">
   <div class="nav nav-pills flex-column float-left" id="v-pills-tab" role="tablist" style="width:150px; padding-right:10px;">
        <a class="nav-link active nl" asp-controller="Course" asp-action="Question" aria-selected="true" id="Info">Info</a>
        <a class="nav-link nl" asp-controller="Home" asp-action="Question" aria-selected="false" id="Questions">Questions</a>
        <a class="nav-link nl" asp-controller="Home" asp-action="Question" aria-selected="false" id="Chat">Chat</a>
        <a class="nav-link nl" asp-controller="Course" asp-action="Group" aria-selected="false" id="Group">Group</a>
        <a class="nav-link nl" asp-controller="Course" asp-action="Group" aria-selected="false" id="Quizs">Quizzes</a>
    </div>
    <div class="card flex"  id="courseContent">
        @await Html.PartialAsync("courseInfo", Model)
    </div>
    <br><br><br><br>
</div>


@*
<div id="courseBar" style="float:left">
    <table border="2px">
        <tr><td><button id="Info">Info</button></td></tr>
        <tr><td><button id="Questions">Questions</button></td></tr>
        <tr><td><button id="Chat">Chat</button></td></tr>
        <tr><td><button id="Group">Group</button></td></tr>
        <tr><td>@Html.ActionLink("Question","AskQuestion","Question")</td></tr>
    </table>
</div>

*@


@section js{

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/signalr-client-1.0.0-alpha2-final.js"></script>
    <script src="~/js/contact.js"></script>
    <script>
        var PId=@ViewData["PId"];
        var CourseId=@ViewData["CourseId"];
        $(document).ready(function(){
            
            
            
            $('#courseContent').load('@Url.Action("toCourseInfo", "Course")', { CourseId: @Model.CourseId,PId:0 });
            $('#Info').click(function(e) {
                e.preventDefault();
                
                $('.nl').attr('aria-selected', 'false');
                $('.nl').attr('class', 'nav-link nl');
                $(this).attr('class', 'nav-link active nl');
                $(this).attr('aria-selected', 'true');
                $('#courseContent').load('@Url.Action("toCourseInfo", "Course")', { CourseId: @Model.CourseId,PId:0 });
            });
            $('#Questions').on("click",function(e) {
                e.preventDefault();
                 
                $('.nl').attr('aria-selected', 'false');
                $('.nl').attr('class', 'nav-link nl');
                $(this).attr('class', 'nav-link active nl');
                $(this).attr('aria-selected', 'true');
                
                $('#courseContent').load('@Url.Action("toAsk", "Question")', { CourseId: @Model.CourseId,PId:1 });
                qnfn();
            });
            $('#Chat').click(function(e) {
                e.preventDefault();
                $('.nl').attr('aria-selected', 'false');
                $('.nl').attr('class', 'nav-link nl');
                $(this).attr('class', 'nav-link active nl');
                $(this).attr('aria-selected', 'true');
                $('#courseContent').load('@Url.Action("toContact", "Home")', { CourseId: @Model.CourseId,PId:2});
                wt();
            });
            $('#Group').click(function(e) {
                e.preventDefault();
                $('.nl').attr('aria-selected', 'false');
                $('.nl').attr('class', 'nav-link nl');
                $(this).attr('class', 'nav-link active nl');
                $(this).attr('aria-selected', 'true');
                $('#courseContent').load('@Url.Action("toGroup", "Course")', { CourseId: @Model.CourseId,PId:3 });
                groupfn();
            });

            $('#Quizs').click(function(e) {
                e.preventDefault();
                $('.nl').attr('aria-selected', 'false');
                $('.nl').attr('class', 'nav-link nl');
                $(this).attr('class', 'nav-link active nl');
                $(this).attr('aria-selected', 'true');
                $('#courseContent').load('@Url.Action("toQuizs", "Quiz")', { CourseId: @Model.CourseId,PId:4 });
                qlfn();
            });

            switch(PId){
                case 0: 
                    $('#Info').trigger("click");
                    break;
                case 1: 
                    $('#Questions').trigger("click");
                    break;
                case 2: 
                    $('#Chat').trigger("click");
                    break;
                case 3: 
                    $('#Group').trigger("click");
                    break;
                case 4: 
                    $('#Quizs').trigger("click");
                    break;
            }
            
        });


        function spl(url){
            var str=url.split('&').join('=').split('=');
            return str;
        }

        function tqfn(){
            if($('#SubmitQuiz').length){
                
                $('#SubmitQuiz').on("click",function(e) {
                    
                    
                    
                    //var url=$(this).attr("href");
                    //var str=spl(url);
                    console.log("tqfn");
                    //console.log($("#QId").val());
                    
                    //console.log($("form").serializeArray());
                    e.preventDefault();
                    
                    $('#courseContent').load('../Quiz/TakeQuiz',  
                        $("form").serializeArray()
                    );
                    //$('#Quizs').trigger("click");
                    
                });
            }
            else{
                setTimeout(tqfn,50);
            }
        }

        function qlfn(){
            if($('.quizL').length){
                
                $('.quizL').on("click",function(e) {
                    
                    
                    e.preventDefault();
                    var url=$(this).attr("href");
                    var str=spl(url);
                    console.log("qlfn");
                    //console.log($("#QId").val());
                    $('#courseContent').load('../Quiz/toTakeQuiz', { 
                        QuizId:str[1], 
                        Title:str[3], 
                        Description:str[5]
                    });
                    tqfn();
                });
            }
            else{
                setTimeout(qlfn,50);
            }
        }
        
        function rpto(){
            if($('#repb').length){
                
                $('#repb').on("click",function(e) {
                    
                    //var sa=new FormData($("#File")[0]);
                    e.preventDefault();
                    //var sa=$("form").serializeArray();
                    
                    
                    //var url=$(this).data("Reply");
                    //var str=spl(url);
                    console.log("rpto");
                    //console.log($("#QId").val());
                    //console.log(sa);
                    //var fileUpload = $("#File").get(0);
                    //var file = fileUpload.File;
                    //var data = new FormData();


                    jQuery.ajax({
                        type: 'POST',
                        url:'../Question/ReplyToQ',
                        data: new FormData($("#postform")[0]),
                        processData: false, 
                        contentType: false, 
                        success: function(returnval) {
                            $("#courseContent").html(returnval);
                            //$('#show1').show();
                        }
                    });
                    /*
                    $('#courseContent').load('../Question/ReplyToQ', { 
                        QId: $("#QId").val(), 
                        RefAId:$("#RefAId").val(), 
                        Reply:$("#Reply").val()
                    }
                    sa);
                    */
                    rpfn();
                });
            }
            else{
                setTimeout(rpto,50);
            }
        }
        
        
        function rpfn(){
            if($('.toR').length){
                
                $('.toR').on("click",function(e) {
                    
                    
                    e.preventDefault();
                    
                    var url=$(this).attr("href");
                    var str=spl(url);
                    console.log("rpfn");
                    console.log(str);
                    $('#courseContent').load('../Question/toReplyTo', { 
                        //CourseId: str[7], 
                        AId:str[1], 
                        QId:str[3]
                        //Title:str[3],
                        //Description:str[5]
                    });
                    rpto();
                });
            }
            else{
                setTimeout(rpfn,50);
            }
        }
        
        
        
        function qnfn(){
            if($('.enterqn').length||$('#askb').length){
                
                $('.enterqn').on("click",function(e) {
                    
                    
                    e.preventDefault();
                    
                    var url=$(this).attr("href");
                    var str=spl(url);
                    console.log("qnfn-e");
                    console.log(str);
                    $('#courseContent').load('../Question/toQuestionPage', { 
                        CourseId: str[7], 
                        QId:str[1], 
                        Title:str[3],
                        Description:str[5],
                        UserName:str[9]
                    });
                    rpfn();
                });


                $('#askb').on("click",function(e) {
                    
                    
                    e.preventDefault();
                    console.log("qnfn-a");
                    console.log($("#CourseId").val());
                    if($("#Title").val()!=""&&$("#Description").val()!=""){
                    
                        $('#courseContent').load('../Question/AskQuestion', { 
                            CourseId: $("#CourseId").val(),  
                            Title:$("#Title").val(),
                            Description:$("#Description").val()
                        });
                        rpfn();
                    }
                    else{
                    
                        alert("Please input question.");
                    }
                    
                });
            }
            else{
                setTimeout(qnfn,50);
            }
        }


        function groupfn(){
            if($('#Create').length||$('.AddToGroup').length){
                $('#Create').click(function() {
                    $('#courseContent').load('../Course/CreateGroup', { CourseId: @Model.CourseId });
                });
                
                $('.AddToGroup').on("click",function(e) {
                    
                    
                    e.preventDefault();
                    var url=$(this).attr("href");
                    var str=spl(url);
                    //console.log(str);
                    if(str[5]=="0"){
                        $(this).hide();
                    }
                    $('#courseContent').load('../Course/AddToGroup', { CourseId: str[1], userid:str[3], GroupNumber:str[5] });
                });
            }
            else{
                setTimeout(groupfn,50);
            }
        }
        
        
        
    </script>


}