@using System.Collections.Generic;
@model List<FinalProject.Models.CourseViewModels.CourseModel>

<div class="container">    
    <h2>My Enrolled Courses 
        @if(User.Identity.IsAuthenticated) {
            <a class="btn btn-outline-primary btn-lg ml-sm-auto w-25 float-right" asp-area="" asp-controller="Course" asp-action="CourseList">List of Courses</a>
        }
    </h2>


<br>
@foreach (var item in Model){
    <div class="card">
        <div class ="card-header">
            <h5>
                @Html.DisplayFor(modelItem => item.Department) @Html.DisplayFor(modelItem => item.CourseNumber) @Html.DisplayFor(modelItem => item.Session) (@Html.DisplayFor(modelItem => item.Semester))
                
                @Html.ActionLink("Enter","CoursePage",new { CourseId=item.CourseId,PId=0} ,new { @class="btn btn-primary btn-sm float-right", @style="display:inline;"   })
                <h6 class="card-subtitle mb-2 text-muted">Instructor : @Html.DisplayFor(modelItem => item.Instructor)</h6>
            </h5>
        </div>
        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
        </div>
    </div>
    <br>
}
</div>