@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
             /> 
        @RenderSection("Styles", false)
        @RenderSection("js", false)
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
             />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body >
    <div class="container" style="background-color: #A6192E;">
        <div class="container" style="color: #ffffff;">
            <br>
            <h2>STUDYMATES</h2>
            <h4>You are not alone</h4>
            <br>
        </div>
    </div>

 
    <nav class="container navbar navbar-expand-lg navbar-dark sticky-top nav-justified" style="background-color: #3D3D3D;">
        
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-collapse collapse w-200 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Course" asp-action="CourseList">CourseList</a>
                </li>
                @if(User.Identity.IsAuthenticated) {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Course" asp-action="myCourses">MyCourses</a>
                </li>}
                <!--<li class="nav-item">-->
                <!--    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Question">Question</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Event" asp-action="ChooseEvent">Event</a>
                </li>
                @if(User.Identity.IsAuthenticated) {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Quiz" asp-action="AddQuiz">Quiz</a>
                </li>}
              
                @if (User.IsInRole("Admin")) {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Manage">Manage</a>
                    </li>
             }
            </ul>
            <ul class="navbar-nav ml-auto">
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </nav>


    
    <div class="container body-content bg-light">
        <br>
        @RenderBody()
    </div>
    
    <footer class="container body-content bg-white">
        <hr/>
        <p>&copy; 2018 - FinalProject</p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
