@model FinalProject.Models.QuizViewModels.QuizQuestion
@using FinalProject.Models.CourseViewModels
@{
    ViewData["Title"] = "Add Quiz";
    var quiz= ViewData["quiz"] as List<CourseModel>;
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Index</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <hr />
            <div class="form-group">
                <label asp-for="Question"></label>
                <input asp-for="Question" class="form-control" />
            </div>
                        <div class="form-group">
                <label asp-for="AnswerA"></label>
                <input asp-for="AnswerA" class="form-control" />
            </div>
            </div>
                        <div class="form-group">
                <label asp-for="AnswerB"></label>
                <input asp-for="AnswerB" class="form-control" />
            </div>
            </div>
                        <div class="form-group">
                <label asp-for="AnswerC"></label>
                <input asp-for="AnswerC" class="form-control" />
            </div>
            </div>
                        <div class="form-group">
                <label asp-for="AnswerD"></label>
                <input asp-for="AnswerD" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CorrectAnswer"></label>
                <input asp-for="CorrectAnswer" class="form-control" />
            </div>
            <input hidden name="Finished" value="false">
            <input hidden name="QuizId" value="@Model.QuizId">
            <input hidden name="Index" value="@Model.Index">
            <button type="submit" class="btn btn-default">Add Quiz Question</button>
            <a type="submit" class="btn btn-default" id="finish">Finish the Quiz</a>
        </form>
    </div>
</div>
@section js{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script>
    $(document).ready(function(){
        $("#finish").click(function(e){
            //e.preventDefault();
            $.ajax({
                url:"AddQuiz",
                type:"POST",
                data:{
                    QuizId:@Model.QuizId,
                    Index:@Model.Index,
                    Finished:1,
                    CorrectAnswer:$("#CorrectAnswer").val(),
                    AnswerA:$("#AnswerA").val(),
                    AnswerB:$("#AnswerB").val(),
                    AnswerC:$("#AnswerC").val(),
                    AnswerD:$("#AnswerD").val(),
                    Question:$("#Question").val()



                },
                success:function(){
                    console.log("Quiz Added");
                }
            });
        });    
    });
    </script>
}