@model FinalProject.Models.QuizViewModels.QuizQuestion
@using FinalProject.Models.CourseViewModels
@{
    ViewData["Title"] = "Add Quiz";
    var quiz= ViewData["quiz"] as List<CourseModel>;
    var selectlist=new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem { Selected = true, Text = "A", Value = "A"},
            new SelectListItem { Selected = false, Text = "B", Value = "B"},
            new SelectListItem { Selected = false, Text = "C", Value = "C"},
            new SelectListItem { Selected = false, Text = "D", Value = "D"}
        }, "Value" , "Text", 1);
}
<div class="container">
    <h2>Question: @Model.Index</h2>
    <h3>@TempData["Message"]</h3>
    <br>    
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <fieldset class="form-group">    
            <div class="form-group">
                <label asp-for="Question" class="form-control-label"></label>
                <textarea asp-for="Question" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="AnswerA" class="form-control-label">Answer A</label>
                <input asp-for="AnswerA" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AnswerB" class="form-control-label">Answer B</label>
                <input asp-for="AnswerB" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AnswerC" class="form-control-label">Answer C</label>
                <input asp-for="AnswerC" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AnswerD" class="form-control-label">Answer D</label>
                <input asp-for="AnswerD" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CorrectAnswer" class="form-control-label">Correct Answer</label>
                <select class="form-control"asp-for="CorrectAnswer" 
                    asp-items="@selectlist">
                    <option>Please select one</option>
                </select>
                @*
                <input asp-for="CorrectAnswer" class="form-control" placeholder="(Input A, B, C, or D)"/>*@
            </div>
            
            <input hidden name="Finished" id="Finished" value="false">
            <input hidden name="QuizId" value="@Model.QuizId">
            <input hidden name="Index" value="@Model.Index">
            
            
            <button type="submit" class="btn btn-primary mt-3">Add next question</button>
            <button type="submit" class="btn btn-primary float-sm-right mt-3" id="finish">Finish and submit</button>
            
        </fieldset>
    </form>
<br>
</div>

@section js{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script>
    $(document).ready(function(){
        $("#CorrectAnswer").value="A";
        $("#finish").click(function(e){
            $("#Finished").val(true);
            //e.preventDefault();
            @*
            $.ajax({
                url:"FinishAddingQ",
                type:"POST",
                data:{
                    QuizId:@Model.QuizId,
                    Index:@Model.Index,
                    Finished:true,
                    CorrectAnswer:$("#CorrectAnswer").val(),
                    AnswerA:$("#AnswerA").val(),
                    AnswerB:$("#AnswerB").val(),
                    AnswerC:$("#AnswerC").val(),
                    AnswerD:$("#AnswerD").val(),
                    Question:$("#Question").val()

                },
                success:function(){
                    console.log("Quiz Added");
                }
            });*@
        });    
    });
    </script>
}