@model List<FinalProject.Models.QuizViewModels.QuizQuestion>
@using FinalProject.Models.QuizViewModels

@{
    //var qm=TempData["qm"] as QuizModel;
    var index=1;
    var cid=TempData["CourseId"];
    var qid=    TempData["qid"];
    var title=  TempData["title"];
    var Description=TempData["Description"];
}

<div class="card">
    <div class="card-header">
        <h5>Take Quiz</h2>


    </div>
    <div class="card-body">
        <form action="../Quiz/TakeQuiz" method="post">
            @foreach (var item in Model){
                <div class="card">
                    <div class ="card-header">
                        <h6>@index . @item.Question</h6>
                            @{
                                index--;
                            }
                    </div>
                    <div class="card-body">
                        <input  name="[@index].QuizId" value="@item.QuizId" hidden>
                        <input type="radio" name="[@index].CorrectAnswer" value="A" checked="true">A. @item.AnswerA<br>
                        <input type="radio" name="[@index].CorrectAnswer" value="B">B. @item.AnswerB<br>
                        <input type="radio" name="[@index].CorrectAnswer" value="C">C. @item.AnswerC<br>
                        <input type="radio" name="[@index].CorrectAnswer" value="D">D. @item.AnswerD
                        @{
                            index+=2;
                        }
                    </div>
                </div>
                <br>
                
            }
            <input type="submit" value="Submit the quiz!" id="SubmitQuiz" class="btn btn-primary mb-3">
        </form>
    </div>
</div>