@using System.Collections.Generic;
@model List<FinalProject.Models.EventViewModels.EventModel>
@inject SignInManager<ApplicationUser> SignInManager



<div class="container">
    <div class="row">
        <h2 class="col">Event List</h2>
        
        
        @if(User.Identity.IsAuthenticated) {
            <a class="col-5 col-lg-3  btn btn-primary btn-lg ml-sm-auto w-25" asp-area="" asp-controller="Event" asp-action="myEvent">My Event</a>
        }
    </div>
    <div class="row">
        <h3 class="col"> @TempData["Message"]</h3>
    </div>

    <br>
    @foreach (var item in Model){
        <div class="card">
            <div class ="card-header">
                <h3>@Html.DisplayFor(modelItem => item.Title)
                    @Html.ActionLink("Join Event","ChooseEventB",new { EventId=item.EventId }, new {@class="btn btn-primary btn-sm float-right"})
                    @*<form action='@Url.Action("ChooseEvent","Event")' method='post' ><input name="EventId" value="@item.EventId" hidden>
                    <button type="submit"  class="btn btn-primary btn-sm float-right" style="display:inline;">Join Event</button></form>*@
                </h3>
                <h6 class="card-subtitle mb-2 text-muted">Date: @Html.DisplayFor(modelItem => item.Date)</h6>
                <h6 class="card-subtitle mb-2 text-muted">Time: @Html.DisplayFor(modelItem => item.Time)</h6>
                <h6 class="card-subtitle mb-2 text-muted">Location: @Html.DisplayFor(modelItem => item.Location)</h6>
                <h6 class="card-subtitle mb-2 text-muted">
                    Seats Available: @Html.Raw(item.NumberOfSeats-item.OccupiedSeats)/@Html.DisplayFor(modelItem => item.NumberOfSeats)
                </h6>
            </div>
            <div class="card-body">
                <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
            </div>
        </div>
        <br>
    }

    <div class="card">
        <div class ="card-header">
            <h5>Create New Event</h5>
        </div>
        <div class="card-body">
            <a class="col-5 col-lg-3  btn btn-primary btn-lg ml-sm-auto w-25" asp-area="" 
            asp-controller="Event" asp-action="addEvent">Add New Event</a>
        </div>
    </div>

</div>
