@using System.Collections.Generic;
@model List<FinalProject.Models.EventViewModels.EventModel>
@inject SignInManager<ApplicationUser> SignInManager



<div class="container">
    <h2>Event List</h2>
    <h3>@TempData["Message"]</h3>

<br>
@foreach (var item in Model){
    <div class="card">
        <div class ="card-header">
            <h5>@Html.DisplayFor(modelItem => item.Title) on @Html.DisplayFor(modelItem => item.Date) at @Html.DisplayFor(modelItem => item.Time)
                @Html.ActionLink("Join Event","ChooseEventB",new { EventId=item.EventId }, new {@class="btn btn-primary btn-sm float-right"})
                @*<form action='@Url.Action("ChooseEvent","Event")' method='post' ><input name="EventId" value="@item.EventId" hidden>
                <button type="submit"  class="btn btn-primary btn-sm float-right" style="display:inline;">Join Event</button></form>*@
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">Location: @Html.DisplayFor(modelItem => item.Location)</h6>
            <h6 class="card-subtitle mb-2 text-muted">
                Seats Available: @Html.Raw(item.NumberOfSeats-item.OccupiedSeats)/@Html.DisplayFor(modelItem => item.NumberOfSeats)
            </h6>
        </div>
        <div class="card-body">
            <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
        </div>
    </div>
    <br>
}

</div>

@*
<div>
    <table border="3">
        <tr>
            @if (SignInManager.IsSignedIn(User)) {
                <td width="80px" height="50px">AddEvent</td>
            }            
            <td width="80px" height="50px">Title</td>
            <td width="80px" height="50px">Description</td>
            <td width="80px" height="50px">Date</td>
            <td width="80px" height="50px">Time</td>
            <td width="80px" height="50px">Location</td>
            <td width="80px" height="50px">NumberOfSeats</td>
            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @if (SignInManager.IsSignedIn(User)) {
                    <td>
                    @Html.ActionLink("Add","ChooseEvent", new { EventId = item.EventId },new {
                        data_ajax="true",
                        data_ajax_method="POST",
                        data_ajax_mode="replace",
                        data_ajax_update="Enrolled",
                        @class="btn btn-danger"
                    })
                    </td>
                }   
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSeats)
                </td>
                
            </tr>
        }
    </table>
   
</div>
 *@
